# Dev overlay (apply on top of env.example)
SF_AI_PROFILE=local
SF_AI_PROFILE_STRICT=true
SF_AI_STATE_BACKEND=sqlite
SF_AI_PROPOSAL_QUEUE_BACKEND=file
SF_AI_VECTOR_BACKEND=tfidf
SF_AI_WORKFLOW_ENGINE=temporal
SF_AI_TEMPORAL_RUN_WORKER=true
SF_AI_SECRET_BACKEND=env
SF_AI_LANGSMITH_ENABLED=false
PROMETHEUS_METRICS_PORT=0
OTEL_ENABLED=false
